body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

}

section {
  display: flex; /* Center content vertically and horizontally (optional) */
  justify-content: center;
  align-items: center;
  background-color: #ddd; /* Optional background color for sections */
}

#webgi-canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
  /* pointer-events: none; */
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}
